# Default ignored files
/shelf/
/workspace.xml
*.code-workspace
# Visual Studio ignored files
.vs/
# Ignore all bin an obj files
**/bin/
**/obj/
# Rider ignored files
.idea/ 
*.sln.DotSettings.user
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Projects that are not mine
adoNetDesconectado/
Archivos/
Empresas/
FormulariosMDI/